.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
.flutter-sdk-tmp/
coverage/
android/.gradle/
android/local.properties
android/key.properties
android/*.jks
android/*.keystore
android/hs_err_pid*.log
android/replay_pid*.log
ios/Pods/
ios/.symlinks/
*.iml
.idea/
.vscode/
